@use "../../styles/partials/colors" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouse-edit {
  &__headline {
    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }

  &__title-housing {
    background-color: $color-background-dark;
    @include padding-horizontal-outer;

    @include tablet {
      width: 100%;
    }
  }

  &__title {
    @include padding-horizontal-inner;
    @include font-header;
    background-color: $color-white;
    padding-top: calc(2 * $mobile-outer-padding);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding-bottom: 1rem; 

    @include tablet {
      border-top-right-radius: 0px;
      padding-right: 0;
      border-bottom: 1px solid $color-outline-divider-border-tableSort;

    }
  }

  &__subheader-housing {
    border-top: 1px solid $color-outline-divider-border-tableSort;
    // @include padding-horizontal-inner;
    // margin-top: 1.5rem;
    // padding-top: 1rem;

    @include tablet {
      border: none;
      background-color: $color-white;
      margin: 0;
    }
  }

  &__subheader {
    background-color: $color-white;
    @include padding-horizontal-inner;
    @include font-subheader;
    padding-top: 1rem;
    @include tablet {
    }

    &--contact {
      background-color: $color-white;
    }
  }

  &__form {
    background-color: $color-background-light;
    box-shadow: 0px 5px 5px rgba(19, 24, 44, 0.1);
    @include padding-horizontal-outer;
    display: flex;
    flex-direction: column;

    @include tablet {
      box-shadow: none;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap; 
      background-color: $color-background-light;
      flex: 1.5;
      justify-content: flex-end;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include site-border;

    @include tablet {
      width: 50%;
    }

    &--border {
      @include tablet {
        padding: 0;
        border-left: 1px solid $color-outline-divider-border-tableSort;
      }
    }
  }

  &__input-label {
    @include font-body-sml;
  }
  &__field {
    @include form;
    @include font-labels-links-buttons;
  }
  &__name-housing {
    background-color: $color-white;
    @include padding-horizontal-inner;
    padding-top: $mobile-outer-padding;

    &--bumper {
      padding-bottom: 2rem;
    }

    @include tablet {
      padding-top: 0.5rem;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row; 
    @include padding-horizontal-outer;
    padding-bottom: 1rem;
    padding-top: 1rem;
    justify-content: space-between;
    
    @include tablet {
      width: 20rem;
    }

  }
  &__cancel {
    height: 36px;
    width: 7rem;
    display: flex;
    border-radius: 20px;
    padding-left: $mobile-outer-padding;
    padding-right: $mobile-outer-padding;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    color: $color-slate;
    border: solid 1px $color-outline-divider-border-tableSort;
    @include font-labels-links-buttons;
  }

  &__save {
    height: 36px;
    width: 7rem;
    display: inline-block;
    border-radius: 20px;
    padding-left: $mobile-outer-padding;
    padding-right: $mobile-outer-padding;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    background-color: $color-instock-indigo;
    border: none;
  }
}
