@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;

.background {
   width: 100%;
   transform: translateY(-4rem);
   margin-bottom: -4rem;
   display: flex;
   justify-content: center;
   border-radius: 3px;

   @include tablet {
      transform: translateY(-5.75rem);
      margin-bottom: -5.75rem;
   }
}

.add-warehouse {
   width: 91%;
   margin-left: 1rem;
   margin-right: 1rem;
   background-color: $color-white;
   border-radius: 3px;

   @include tablet {
      width: 90%;
      margin-left: 2rem;
      margin-right: 2rem;
   }

   @include desktop {
      width: 90%;
      margin-left: 8.125rem;
      margin-right: 8.125rem;
   }

   &__required {
      color: $color-red;
   }
}
