@use '../../styles/partials/colors'as *;
@use '../../styles/partials/variables'as *;
@use '../../styles/partials/mixins'as *;

.warehouses {

  &__headline {
    @include tablet {
      display: flex;
    }
  }

  &__title-housing {
    @include padding-horizontal-outer;
    background-color: $color-background-dark;

    @include tablet {
      padding-right: 0;
      width: auto;
      flex: 1.2;
    }
  }

  &__title {
    @include padding-horizontal-inner;
    @include font-header;
    background-color: $color-white;
    padding-top: calc(2* $mobile-outer-padding);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    @include tablet {
      border-top-right-radius: 0px;
      padding-right: 0;
      padding-bottom: $mobile-inner-padding;
    }
  }

  &__form {
    background-color: $color-background-light;
    box-shadow: 0px 5px 5px rgba(19, 24, 44, 0.1);
    @include padding-horizontal-outer;
    display: flex;
    flex-direction: column;


    @include tablet {
      box-shadow: none;
      flex-direction: row;
      padding-left: 0;
      background-color: $color-background-dark;
      flex: 1.5;
    }
  }

  &__search-housing {
    background-color: $color-white;
    @include padding-horizontal-inner;
    padding-top: $mobile-outer-padding;
    padding-bottom: $mobile-outer-padding;

    @include tablet {
      @include site-border;
      box-shadow: none;
      padding-top: $tablet-outer-padding;
      padding-right: 0;
      padding-bottom: $mobile-inner-padding;
      flex: 1.5;
    }

    @include desktop {}
  }

  &__search {
    @include form;
    @include font-labels-links-buttons;
    background-image: url('../../assets/icons/search-24px.svg');
    background-position-y: center;
    background-position-x: calc(100% - 8px);
    background-repeat: no-repeat;
  }

  &__cta-housing {
    background-color: $color-white;
    @include padding-horizontal-inner;
    padding-bottom: $mobile-outer-padding;

    @include tablet {
      @include site-border;
      padding-top: $tablet-outer-padding;
      padding-bottom: $mobile-inner-padding;
      padding-left: $mobile-inner-padding;
      border-top-right-radius: 3px;
      flex: 1;
      box-shadow: none;
    }
  }

  &__cta {
    @include cta;
    @include font-labels-links-buttons;
    background-color: $color-interact;
  }

  &__cta-text {
    @include cta-text;
    color: $color-white;
    white-space: nowrap;
  }

  &__headers-outer {
    display: none;

    @include tablet {
      background-color: $color-background-light;
      @include padding-horizontal-outer;
      display: block;
    }
  }

  &__headers-inner {
    display: none;

    background-color: $color-white;

    @include tablet {
      @include site-border;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  &__list {
    background-color: $color-background-light;
    @include padding-horizontal-outer;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}