@use '../../styles/partials/colors'as *;
@use '../../styles/partials/variables'as *;
@use '../../styles/partials/mixins'as *;

.warehouses {

  @include padding-horizontal-outer;
  background-color: $color-background-dark;

  &__title {
    @include padding-horizontal-inner;
    background-color: $color-white;
    padding-top: calc(2* $mobile-outer-padding);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__search-housing {
    background-color: $color-white;
    @include padding-horizontal-total;
    padding-top: $mobile-outer-padding;
    padding-bottom: $mobile-outer-padding;
  }

  &__search {
    @include form;
    background-image: url('../../assets/icons/search-24px.svg');
    background-position-y: center;
    background-position-x: calc(100% - 8px);
    background-repeat: no-repeat;
  }

  &__cta-housing {
    background-color: $color-white;
    @include padding-horizontal-total;
    padding-bottom: $mobile-outer-padding;
  }

  &__cta {
    @include cta;
    background-color: $color-interact;
  }

  &__cta-text {
    @include cta-text;
    color: $color-white;
  }

  &__list {
    @include padding-horizontal-outer;
  }
}