@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.page-error {
   @include padding-horizontal-inner;
   @include font-body-med;
   padding-top: 1rem;
   font-weight: 900;
   color: $color-red;
}
