@use "../../styles/partials/colors"as *;
@use "../../styles/partials/mixins"as *;
@use "../../styles/partials/typography"as *;
@use "../../styles/partials/variables"as *;


.warehouse-details {
  // padding: 0;
  // background-color: $color-white;
  // border: none;
  @include cardConfig; 


  &__top {
    background-color: $color-background-dark;
    // @include padding-horizontal-outer;
  }

  &__header {
    background-color: $color-white;
    @include padding-horizontal-inner;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 0.8rem;
    margin-bottom: 2rem;

    @include tablet {
      margin-bottom: 0;
      padding-bottom: $mobile-inner-padding;
    }
  }

  &__back {
    padding-right: 1rem;

    @include tablet {
      padding-right: 0.5rem;
    }
  }

  &__title {
    margin-right: auto;
    @include font-header;
  }

  &__edit {
    @include cta;
    background-color: $color-interact;
    // @include padding-horizontal-outer;
    height: 2rem;
    width: 2rem;
 

    @include tablet {
      height: 36px;
      width: 5rem;
      border-radius: 20px;
      padding-left: $mobile-outer-padding;
      padding-right: $mobile-outer-padding;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      background-color: $color-cta-hover;
    }
  }

  &__icon {
    width: 1rem;
    height: 1rem;
    padding: 0;

    @include tablet {
      margin-right: 0.5rem;
    }
  }

  &__label {
    display: none;

    @include tablet {
      color: $color-white;
      display: flex;
      padding: 0;
      padding-right: 1.5rem;
    }
  }

  &__backing {
    @include divider-top;
    background-color: $color-lightgrey;
    padding: 0;

    @include tablet {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__information {
    background-color: $color-white;

    @include tablet {
      padding: 1rem 0 1rem 0;
      display: flex;
    }
  }

  &__address {

    @include padding-horizontal-inner;

    @include tablet {
      border-right: solid 1px $color-outline-divider-border-tableSort;
      padding-right: 4rem;
      padding-left: 1rem;
    }

    @include desktop {
      padding-right: 10rem;
      padding-left: 1.5rem;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    line-height: 20px;

    @include tablet {
      padding-left: 1rem;
    }

    &--mobile {
      @include tablet {
        display: none;
      }
    }

    &--tablet {
      display: none;

      @include tablet {
        display: flex;
      }
    }

    &--padded {
      @include tablet {
        padding-left: 6rem;
      }

      @include desktop {
        padding-left: 8rem;
      }
    }
  }

  &__subheader {
    @include font-table-header;
    color: $color-table-header;
    box-sizing: content-box;
    padding-top: 1rem;

    @include tablet {
      padding: 0;
    }
  }

  &__detail {
    @include font-body-sml;
    line-height: 20px;
  }

  &__contact {
    @include padding-horizontal-inner;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding-bottom: 1rem;
    padding-top: 1rem;

    @include tablet {
      justify-content: flex-end;
      padding-top: 0;
      padding-left: 1rem;
      padding-bottom: 0;
      margin-right: auto;
    }

    @include desktop {
      padding-left: 2rem;
    }
  }

  // &__headers-outer {
  //   display: none;

  //   @include tablet {
  //     background-color: $color-background-light;
  //     // @include padding-horizontal-outer;
  //     display: block;
  //   }
  // }

  &__headers-inner {
    display: none;

    @include tablet {
      background-color: $color-background-light;
      @include site-border;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: row; 
    // @include padding-horizontal-outer;
    padding-bottom: 1rem;
    padding-top: 1rem;
    justify-content: space-between;
    
    @include tablet {
      width: 20rem;
    }

    @include desktop {
      width: 25rem; 
      padding-right: 2rem;
    }

  }
  &__cancel {
    height: 36px;
    width: 7rem;
    display: flex;
    border-radius: 20px;
    padding-left: $mobile-outer-padding;
    padding-right: $mobile-outer-padding;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    color: $color-slate;
    border: solid 1px $color-outline-divider-border-tableSort;
    @include font-labels-links-buttons;
  }

  &__save {
    height: 36px;
    width: 7rem;
    display: inline-block;
    border-radius: 20px;
    padding-left: $mobile-outer-padding;
    padding-right: $mobile-outer-padding;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    background-color: $color-instock-indigo;
    border: none;
  }
}
