@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.warehouse {
  padding: 0;
  background-color: $color-white;
  border: none;

  &__top {
    background-color: $color-background-dark;
    @include padding-horizontal-outer;
  }

  &__header {
    background-color: $color-white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 4rem;
    font-size: 0.8rem;
    @include padding-horizontal-inner;
    margin-bottom: 2rem;
    padding-top: 1rem;
    
    @include tablet {
      margin-bottom: 0;
      padding-bottom: 1rem;
      height: 5rem;
    }
  }

  &__back {
    padding-right: 1rem;

    @include tablet {
      padding-right: .5rem;
    }
  }

  &__title {
    margin-right: auto;
  }

  &__edit {
    @include cta;
    background-color: $color-interact;
    @include padding-horizontal-outer;
    height: 2rem;
    width: 2rem;
  }

  &__icon {
    width:  1rem;
    height: 1rem;
    padding: 0;


    @include desktop {

    }
  }
  &__backing {
    @include padding-horizontal-outer;
    @include divider-top;
    background-color: $color-lightgrey;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0;

    @include tablet {
      // padding-left: 2rem;
      // padding-right: 2rem;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__information {
    @include padding-horizontal-outer;
    @include padding-horizontal-inner;
    background-color: $color-white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

    @include tablet {
      display: flex;
      flex-direction: row;
      padding-top: 1rem; 
      padding-bottom: 1rem; 

    }
  }
  &__address {
    @include tablet {
      border-right: solid 1px $color-outline-divider-border-tableSort;
      padding-right: 4rem;
    }
    @include desktop {
      padding-right: 10rem;
    }
  }
  &__details {
    display: flex;
    flex-direction: column;
    line-height: 20px;

    &--padded {
       @include tablet {
        padding-left: 4rem;
       }

       @include desktop {
         border: solid 1px red; 
       }
    }

    @include tablet {
      padding-left: 1rem;
    }

    &--mobile {
      @include tablet {
        display: none;
      }
    }
    &--tablet {
      display: none;

      @include tablet {
        display: flex;
      }
    }
  }

  &__subheader {
    @include font-table-header;
    color: $color-table-header;
    box-sizing: content-box;
    padding-top: 1rem;

    @include tablet {
      padding: 0;
    }
  }
  &__detail {
    @include font-body-sml;
    line-height: 20px;
  }

  &__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding-bottom: 1rem;
    padding-top: 1rem;

    @include tablet {
      justify-content: flex-end;
      padding-top: 0;
      padding-left: 1rem;
      padding-bottom: 0;
      margin-right: auto;
    }

    @include desktop {
      padding-left: 2rem;
    }
  }
}
