@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;
@use "../../styles/partials/listItem" as *;

.inventory-item {
   @include listItemBase;

   &__inner {
      @include listItemInner;
   }

   &__label {
      &--main {
         @include tablet {
            flex: 1;
            order: 1;
         }
      }

      &--category {
         @include tablet {
            flex: 0.8;
            order: 2;
         }
      }

      &--status {
         @include tablet {
            flex: 0.9;
            order: 3;
         }
      }

      &--qty {
         @include tablet {
            flex: 0.6;
            order: 4;
         }
      }

      &--warehouse {
         @include tablet {
            flex: 0.8;
            order: 5;
         }
      }
   }

   &__actions-block {
      @include tablet {
         order: 6;
         flex: 0.5;
      }
   }
}
