// Primary Colors
$color-instock-black: #13182C;
$color-instock-indigo: #2E66E5;
$color-white: #FFFFFF;

// Secondary Colors
$color-slate: #5C667E;
$color-cloud: #BDC5D5;

// Background Colors
$color-graphite: #232940;
$color-lightgrey: #F7F8F9;

// Supporting Colors
$color-green: #158463;
$color-red: #C94515;