@use '../../styles/partials/mixins'as*;
@use '../../styles/partials/variables'as*;
@use '../../styles/partials/colors'as*;


.item-details {
  @include cardConfig;

  &__title {
    padding-bottom: $mobile-inner-padding;
    @include padding-horizontal-inner;
    @include divider-bottom;
  }

  &__block {
    padding-top: $mobile-outer-padding;
    padding-bottom: $mobile-outer-padding;
    @include padding-horizontal-inner;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include tablet {
      padding-top: $mobile-inner-padding;
      padding-bottom: $mobile-inner-padding;
      flex-direction: row;
    }
  }

  &__highlights {
    padding-bottom: 8px;

    @include tablet {
      width: 50%;
      border-right: 1px solid $color-outline-divider-border-tableSort;
      padding-bottom: 0;
    }
  }

  &__more-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
    width: 50%;

    @include tablet {
      padding-left: $desktop-inner-padding;
    }

    @include desktop {
      padding-left: $desktop-inner-padding;
    }
  }

  &__info {
    @include font-body-med;
    white-space: initial;
    padding-top: 4px;

    &--out-stock {
      margin-top: 4px;
      padding-top: 0;

      @include tag-out-stock;
    }

    &--in-stock {
      margin-top: 4px;
      padding-top: 0;

      @include tag-in-stock;
    }
  }

  &__label {
    @include font-table-header;
    padding-bottom: $mobile-outer-padding;

    &:last-child {
      padding-bottom: 0;
    }

    @include tablet {
      padding-right: $mobile-outer-padding;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }

    &--description {
      @extend .item-details__label;
      width: 100%;

      @include tablet {
        padding-right: $mobile-inner-padding;
      }

      @include desktop {
        padding-right: $desktop-inner-padding;
      }
    }

    &--category {
      @extend .item-details__label;
      width: 100%;

      @include tablet {
        padding-right: $mobile-inner-padding;
      }

      @include desktop {
        padding-right: $desktop-inner-padding;
      }
    }

    &--status {
      @extend .item-details__label;
      width: 50%;

      @include tablet {
        padding-right: 0;
      }
    }

    &--qty {
      @extend .item-details__label;
      width: 50%;

      @include tablet {
        padding-right: 0;
      }
    }

    &--warehouse {
      @extend .item-details__label;
      width: 100%;

      @include tablet {
        padding-right: 0;
      }
    }
  }
}