@use "../../styles/partials/colors" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.new-warehouse {
    max-width: 100%;
    box-sizing: border-box;
    @include site-border;

    &__form {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    &__housing {

        @include tablet {
        display: flex;
        justify-content: center;
        }
    }

    &__border-top {
        border-top: 1px solid $color-cloud;
    }

    &__border-bottom {
        border-top: 1px solid $color-cloud;

        @include tablet {
            display: none;
        }
    }

    &__form-title {
        font-size: 1.25rem;
        // margin-top: 1rem;
        margin-bottom: 1rem;

        @include tablet {
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }

    &__top-form{
        padding: 0 1.5rem 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;

        @include tablet {
            padding: 0 2rem 0;
            width: 50%;
            margin-bottom: 2rem;
        }

        @include desktop {
            padding: 0 2.5rem 0.5rem;
        }
    }

    &__bottom-form {
        padding: 0 1.5rem 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 1rem;

        @include tablet {
            width: 50%;
            padding: 0 2rem 0;
            margin-bottom: 2rem;;
            border-left: 1px solid $color-cloud;
        }
    }

    &__label {
        font-size: 0.813rem;
        font-weight: 600;
        color: $color-instock-black;
        margin-bottom: 0.25rem;
        margin-top: 1rem;

        @include tablet {
            margin-top: 1.5rem;
            font-size: 0.875rem;
            line-height: 1.375rem;
        }

        @include desktop {
            margin-top: 2.5rem;
        }
    }

    &__input-field {
        border: 1px solid $color-cloud;
        width: 100%;
        height: 2.25rem;
        border-radius: 1.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        color: $color-slate;
        margin-bottom: 0.25rem;

        &:focus {
            outline: none;
            border: 1px solid $color-instock-indigo;
        }

        &--error{
            border: 1px solid $color-red;
        }

    }

    &__buttons {
        background-color: $color-lightgrey;
        padding: 0;
        width: 100%;
        height:4.25rem;
        display: flex;
        justify-content: center;
        align-items: center;

        @include tablet {
            justify-content: flex-end;
            height: 4.375rem;
        }
        
    }

    &__cancel-button {
        @include secondary-cta-default;
        text-decoration: none;
        width: 40%;
        height: 2.25rem;
        margin-left: 1.5rem;
        margin-right: 1rem;
        font-family: $font-stack;
        color: $color-slate;
        font-size: 0.875rem;

        @include tablet {
            width: 15%;
        }

        @include desktop {
            width: fit-content;
        }

    }

    &__add-button {
        @include primary-cta-default;
        width: 46%;
        margin-right: 1.5rem;
        font-family: $font-stack;

        &:hover {
            background-color: $color-graphite;
        }

        @include tablet {
            width: fit-content;
        }

        @include desktop {
            width: fit-content;
        }
    }

    &__error {
        color: $color-red;
        font-size: 0.75rem;
        display: flex;
        align-items: center;
    }

    &__img {
        height:1rem;
    }

}