@use '../../styles/partials/variables'as*;
@use '../../styles/partials/mixins'as*;
@use '../../styles/partials/colors'as*;


.header {
  display: none;

  @include tablet {
    flex: 1;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-right: $mobile-outer-padding;
    width: 50%;
  }

  &__label {
    @include font-table-header;
    white-space: nowrap;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  &__icon {
    height: 14px;
    padding-left: 8.94px;
  }

  &:first-child {
    padding-left: $tablet-inner-padding;

    @include desktop {
      padding-left: $desktop-inner-padding;
    }
  }

  &:last-child {
    justify-content: flex-end;
    flex: 0.5;
    padding-right: $tablet-inner-padding;

    @include desktop {
      padding-right: $desktop-inner-padding;
    }

    .header__icon {
      display: none;
    }
  }
}