@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/colors" as *;

$search-icon-path: "../../assets/icons/search-24px.svg";

.list-header {
   @include cardConfig;
   @include tablet {
      display: flex;
   }

   &__title {
      @include tablet {
         flex: 1.2;
      }
   }

   &__actions {
      display: flex;
      flex-direction: column;

      @include tablet {
         flex-direction: row;
         padding-left: 0;
         flex: 1.5;
      }
   }

   &__search-housing {
      @include padding-horizontal-inner;
      padding-top: $mobile-outer-padding;
      padding-bottom: $mobile-outer-padding;
      background-color: $color-white;

      @include tablet {
         min-width: 10rem;
         padding-top: 0;
         padding-right: 0;
         padding-bottom: $mobile-inner-padding;
         flex: 1.5 1 auto;
      }
   }

   &__search {
      @include form;
      @include font-labels-links-buttons;
      background-image: url($search-icon-path);
      background-position-y: center;
      background-position-x: calc(100% - 8px);
      background-repeat: no-repeat;
   }

   &__cta-housing {
      @include padding-horizontal-inner;
      padding-bottom: $mobile-outer-padding;
      background-color: $color-white;

      @include tablet {
         width: fit-content;
         padding-bottom: $mobile-inner-padding;
         padding-left: $mobile-inner-padding;
         display: flex;
         justify-content: flex-end;
      }
   }

   &__cta {
      @include primary-cta-default;
      @include font-labels-links-buttons;
      width: 100%;
   }

   &__cta-text {
      @include cta-text;
      color: $color-white;
      white-space: nowrap;
   }
}
