@use "./styles/partials/typography"as *;
@use './styles/partials/colors'as *;

* {
  transition: 0.5s;
}

body {
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-family: $font-stack;
  font-size: $root-font-size;
  color: $color-instock-black;
}

body {
  height: 100%;
}